*{
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.reg-main{
    height: auto;
    position: relative;
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
}

.hdr{
    object-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hdr img{
    height: 24px;
    margin-bottom: 3rem;
}

.reg-main header{
    font-size: 2rem;
    color: #333;
    font-weight: bolder;
    text-align: center;
}

.reg-main .form{
    margin-top: 30px;
}

.form .input-field{
    width: 100%;
    margin-top: 24px;
}

.input-field label{
    color: #333;
}

.form .input-field input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    font-size: .875rem;
    color: #707070;
    margin-top: .6rem;
    padding: 0 1rem;
    border-radius: 6px;
}

.pass-check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#forgot{
    font-weight: 600;
    color: blue;
}

button{
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    background-color: blue;
    font-weight: 800;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: .3rem;
}

.reg-main p{
    padding-top: 4rem;
    font-size: .875rem;
    text-align: center;
    color: #707070;
}

.reg-main p .start{
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
    color: blue;
}